Source: frostfs-http-gw
Section: frostfs
Priority: optional
Maintainer: TrueCloudLab <tech@frostfs.info>
Build-Depends: debhelper-compat (= 13), dh-sysuser, git, devscripts
Standards-Version: 4.5.1
Homepage: https://frostfs.info/
Vcs-Git: https://github.com/TrueCloudLab/frostfs-http-gw.git
Vcs-Browser: https://github.com/TrueCloudLab/frostfs-http-gw

Package: frostfs-http-gw
Architecture: any
Depends: ${misc:Depends}
Description: FrostFS HTTP Gateway bridges FrostFS internal protocol and HTTP standard.

